@model Excluidos
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="text-align:center; font-size: 25px;">
    <div class="card-header">
        Formulario para Incluidos
    </div>
</div>
<form asp-action="Editar" asp-controller="MantenedorExcluidos" method="post">
    <input asp-for="IdExcluidos" type="hidden" class="form-control">
    <div class="form-group">
        <label class="exampleInputEmail1">Introduzca la Cedula</label>
        <input asp-for="Cedula" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label class="exampleInputEmail1">Introduzca el Motivo</label>
        <input asp-for="Motivo" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label class="exampleInputEmail1">Introduzca la Fecha</label>
        <input asp-for="Fecha" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary" style="text-decoration:none; position: relative; top:5px;">Guardar</button>
    <button class="btn btn-warning" asp-action="Listar" style="text-decoration:none; position: relative; top:5px;">Volver a la lista</button>
</form>


