@model Excluidos
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="text-align:center; font-size: 25px;">
    <div class="card-header">
        Formulario para Excluidos
    </div>
</div>
<form asp-action="Eliminar" asp-controller="MantenedorExcluidos" method="post">
    <input asp-for="IdExcluidos" type="hidden" class="form-control">
    <div class="alert alert-danger" role="alert">
        ¿Deseas eliminar la Cedula?: @Html.DisplayTextFor(m =>m.Cedula)
    </div>
    <button type="submit" class="btn btn-danger" style="text-decoration:none; position: relative; top:5px;">Eliminar</button>
    <button class="btn btn-warning" asp-action="Listar" style="text-decoration:none; position: relative; top:5px;">Volver a la lista</button>
</form>
