@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div class="Espacio-Container">
        <div class="Boton-Container">
            <div class="d-flex justify-content-start align-items-start">
                <button style="color:teal; border:none;" > Cargar archivo txt </button>
            </div>
            <div class="labels-container">
                <div class="">
                    <p>Buscar por: </p>
                    <input class="INPcedula" placeholder="Ingrese la Cedula"/>
                    <input class="INPnombre"placeholder="Ingrese el Nombre" />
                    <input class="INPapellido" placeholder="Ingrese el Apellido" />
                </div>
                <a class="btn btn-outline-primary btn-lg">Buscar</a>
            </div>
            <div>
                <div class="Tabla-Container">
                    <div>
                        <table>
                            <tr>
                                <input placeholder="CEDULA" />
                                <input placeholder="NOMBRES"/>
                            </tr>
                            <tr>
                                <input placeholder="APELLIDOS"/>
                                <input placeholder="SUB"/>
                            </tr>
                            <tr>
                                <input placeholder="MONTO"/>
                                <input placeholder="FECHA" />
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
