@model ClassAdd
@{
    ViewData["Title"] = "Index";

}

<div class="espacio-container">
    <div class="Encabezado-Container">
        <div class="Titulo-Container">
            <div class="Titulo" style="font-size: 45px;text-align:center;">Bienvenido</div>
            <div class="Subtitulo" style="text-align:center; font-size:25px;">¿Qué desea hacer?</div>
        </div>
    </div>
    <div class="Cuerpo-Container">
        <div class="Boton-IncluidoContainer">
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="/MantenedorIncluidos/Listar" class="btn btn-warning btn-lg">Incluidos</a>
                <a href="/MantenedorExcluidos/Listar" class="btn btn-success btn-lg" style="color:black;">Excluidos</a>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.css">

<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.js"></script>
